@import '../../css/variables.scss';

.style {
  margin: 3em 0;
  position: relative;

  & > header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1rem;
    text-transform: uppercase;
    z-index: 0;

    span {
      display: inline-block;
      padding: 0 1rem;
      z-index: 2;
      position: relative;
      background-color: white !important;
    }

    &::after {
      z-index: 1;
      content: '';
      position: absolute;
      border-bottom: 1px dashed rgba($grey, 0.4);
      width: 100%;
      left: 0;
      top: 0.75rem;
    }
  }
}