$blue: rgb(26, 56, 176);
$white: #fff;
$light-grey: rgb(249, 249, 249);
$middle-grey: rgb(232, 232, 232);
$grey: rgb(172, 172, 172);
$dark-grey: rgb(114, 114, 114);
$black: rgb(38, 38, 38);
$dark-blue: #1C3954;