@import '../../css/variables.scss';

.article {
  img {
    border: 1px solid $grey;
  }

  [id]::before {
    content: '';
    display: block;
    height:      160px;
    margin-top: -160px;
  }

  header  {
    margin-bottom: 1em;
    padding: 1em 0 0;
    font-family: 'Courier New', Courier, monospace;
  }

  h1 {
    margin: 0;
    border-bottom: 0;
    line-height: 2.9rem;

    small {
      line-height: 1rem;
      display: block;
      font-size: 1rem;
      font-weight: 300;
      margin-top: 1rem;
      color: $dark-grey;
    }

    svg {
      position: relative;
      top: 2px;
      opacity: 0.7;
      margin-right: 1rem;
    }
  }

  pre {
    margin-bottom: 1em;
  }

  @media (min-width: 800px) {
    & {
      header {
        top: 0;
        position: sticky;
        position: -webkit-sticky;
        background-color: $white;
        z-index: 100;
        margin-left: -50px;
        margin-right: -50px;
        border-bottom: 1px dashed rgba($grey, 0.4);
        margin-bottom: 3em;
        padding: 1em 50px 0;
      }

      pre {
        margin-left: -50px;
        margin-right: -50px;
      }

      img,
      pre {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      picture img {
        margin-top: 0;
        margin-bottom: 0;
      }

      img {
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
      }

      [data-language] pre {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
      }
      
      table {
        margin-bottom: 3rem;
      }

      :global(.gatsby-resp-image-wrapper) {
        width: calc(100% + 100px) !important;
        max-width: calc(100% + 100px) !important;
        margin-left: -50px !important;
        margin-right: -50px !important;
        height: auto !important;
      }

      :global(.gatsby-resp-image-wrapper) {
        margin-top: 3em;
        margin-bottom: 4em;
      }

      p > img {
        width: calc(100% + 100px) !important;
        max-width: calc(100% + 100px) !important;
        height: auto;
        margin-left: -50px !important;
        margin-right: -50px !important;
      }

      h2,
      h3,
      h4 {
        code {
          font-size: inherit;
        }
      }
    }
  }

  twitter-widget {
    margin: 1rem auto !important;
    display: inline-block !important;
  }
}

.date {
  margin-right: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  position: relative;
  top: -2px;
  border: 1px dashed $middle-grey;
}

.ttr {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  position: relative;
  top: -2px;
  border: 1px dashed $middle-grey;
}