@import '../../css/variables.scss';

.disqus {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  display: none;
  background-color: transparent;

  & > :first-child {
    margin: 5rem 0 1rem 0;
    display: none;
  }

  & > :last-child {
    margin: 3rem 0;
    cursor: pointer;
    display: block;
    padding: 1rem;
    border-top: 1px dashed rgba($grey, 0.4);

    &:hover {
      opacity: 0.8;
    }
    
    svg {
      fill: $black;
      font-size: 1.4rem;
      margin-right: 1rem;
      position: relative;
      top: 0.3rem;
    }
  }

  &[data-loaded=true] {
    display: block;
    width: 100%;
  }

  &[data-show=true] {
    & > :first-child {
      display: block;
    }

    & > :last-child {
      display: none;
    }
  }

  @media (min-width: 800px) {
    width: calc(100% + 100px) !important;
    max-width: calc(100% + 100px) !important;
    margin-left: -50px !important;
    margin-right: -50px !important;
    border-radius: 5px;

    & > :first-child {
      padding: 0 50px;
    }
  }
}