@import '../../css/variables.scss';

.style {
  display: block;
  padding: 0.5em 1em;
  margin: 1em 0 2em 0;
  border: 1px dashed $grey;
  background-color: $light-grey;
  border-radius: 3px;

  @media (min-width: 900px) {
    max-width: calc(100% + 100px) !important;
    margin-left: -50px !important;
    margin-right: -50px !important;
  }
}
