@import '../../css/variables.scss';

.youtube {
  border: 1px solid $grey;
  margin-bottom: 1em;

  @media (min-width: 800px) {
    & {
      border: none;
      margin: 3em -50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }
}