@import '../css/variables.scss';

.content {    
  background-color: $white;  
}

.body {
  padding: 0 1em;

  a {
    color: $blue;
  }

  @media (min-width: 650px) {
    & {
      max-width: 600px;
      padding: 0 0 2em 0;
      margin: 0 auto;
    }
  }
}
