@import '../css/variables.scss';

.content {    
  background-color: $white;  
}

.body {
  padding: 0 1em;
  padding-top: 2rem;

  a {
    color: $blue;
  }

  @media (min-width: 650px) {
    & {
      max-width: 600px;
      padding: 4rem 0 2rem 0;
      margin: 0 auto;
    }
  }

  @media (min-width: 800px) {
    padding-top: 0;
  }
}
